<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ipusoft.sip">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <application>
        <service
            android:name="com.ipusoft.sip.service.SipPhoneFloatingService"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="com.ipusoft.siplibrary.service.SipCallOutFloatingService" />
            </intent-filter>
        </service>


        <service
            android:name="com.ipusoft.sip.service.SipCoreService"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="com.ipusoft.siplibrary.service.SipCoreService" />
            </intent-filter>
        </service>
    </application>
</manifest>